<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Posts</h6>
            </div>

            <div class="card-body">
<div ><a routerLink="/add" class="btn btn-sm btn-success mb-2 float-right"><i class="fa fa-plus"></i></a></div>
<br>
<br>
                <div class="jumbotron" *ngFor="let item of posts">
                    <h6>{{item.title}}</h6>
                    <p class="lead">{{item.text}}</p>
                    <p class="float-right">{{item.users.firstName}} {{item.users.lastName}}</p>
                    <hr>
                    <div class="row" *ngIf="user.id == item.users.id">
                        <div class="float-right">
                            <a routerLink="edit/{{item.id}}" class="btn btn-sm btn-primary mr-1"><i class="fa fa-edit"></i></a>
                            <button (click)="deletePost(item.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="posts.isDeleting">
                                <span *ngIf="posts.isDeleting" class="spinner-border spinner-border-sm"></span>
                                <span *ngIf="!posts.isDeleting"><i class="fa fa-trash"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
